* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: small;
    background-color: rgba(221, 220, 220, 0.959);
}

.main {
    width: 500px;
    background-color: rgb(241, 240, 240);
    margin: 2em auto;
    border-radius: 1.5px;
}

.contents {
    display: flex;
    flex-direction: column;
    padding: 3em;
    padding-bottom: 0
}

.main .img {
    width: 100%;
    height: 200px;
    background-image: url('e87abb5b9a274d9db43bcda64d30a5a7.png');
    background-position: top;
    background-size: 110%;
    margin: 0;
    padding: 0;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.intro h1 {
    font-size: 4em;
    font-weight: 900;
}

.intro > div {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    font-size: 0.9em;
}

.intro > div > div * {
    margin: 0.2em 0;
    letter-spacing: 0.5px;
}

.intro {
    margin: 1em 0;
}

table {
    width: 100%;
    margin-bottom: 3em;
}

table thead {
    font-weight: 800;
    background-color: rgb(212, 212, 212);
}

table {
    border-collapse: collapse;
}

td {
    padding: 12px;
    font-size: 0.9em;
}

tfoot {
    border: 2px solid rgb(119, 118, 118);
    border-left: 0;
    border-right: 0;
}

b {
    font-weight: 800;
}

td:nth-child(2) {
    text-align: right;
}